@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}

/* .leaflet-container {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
} */

html, body {
  height: 100%;
  overflow: hidden;
}
