.headerRow {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.right {
  width: 50%;
}

.right input {
  height: 50px;
}

.tableWrapper {
  border-radius: 10px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom scroll bar for Webkit browsers (Chrome/Edge/Safari) */
.tableWrapper::-webkit-scrollbar {
  width: 8px;              
}

.tableWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;     
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px; 
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white;
}

.table th, .table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.table th {
  background-color: #41BD79;
  color: white;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table th:first-child {
  border-top-left-radius: 10px;
}

.table th:last-child {
  border-top-right-radius: 10px;
}

/* Status labels */
.status {
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.status.active {
  background-color: #34CC92;
}

.status.inactive {
  background-color: #E64A2B;
}

/* Action link */
.action {
  color: #059669;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.action:hover {
  color: #b91c1c;
}

.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.popup {
  background: white;
  border-radius: 10px;
  min-width: 400px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.popupHeader {
  background-color: #41BD79;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 16px;
  font-weight: bold;
}

.closeButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.popupContent {
  padding: 24px;
}

.popupContent p {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}



.tablePopup {
  max-height: 308px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
}

.tablePopup::-webkit-scrollbar {
  width: 8px;
}

.tablePopup::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 4px;
}

.tablePopup::-webkit-scrollbar-track {
  background: #f1f1f1;
}
