.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9990;
}

.popup {
  background: white;
  width: 480px;
  max-height: 80vh;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header h3{
    font-weight: bold;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn:hover{
    color: rgb(236, 42, 42);
    font-weight: bold;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.searchContainer {
  flex: 1;
}

.filter {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.filter:hover {
    border: 1px solid #2a72d7;
}

.filter:focus {
    border: 1px solid #2a72d7;
}

.tableContainer {
  overflow-y: auto;
  max-height: 55vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #cecece;
  padding: 10px;
  text-align: left;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ececec;
}

.emptyText {
  text-align: center;
  padding: 15px;
  color: #888;
}
