
.container{
    position: relative;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.mapContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.searchContainer{
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 40%;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.suggestionList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}
.suggestionList li {
  padding: 0.5rem;
  cursor: pointer;
}
.suggestionList li:hover {
  background: #f0f0f0;
}
