
.container{
    position: relative;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.mapContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.searchContainer{
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 40%;
    top: 10px;
    left: 10px;
    z-index: 10;
}