.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.input {
  width: 100%;
  background-color: white;
  padding: 10px 14px 10px 44px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
