.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.input {
  width: 100%;
  background-color: white;
  padding: 10px 14px 10px 44px; /* space for the SVG */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* .button {
  padding: 10px 18px;
  background-color: #3da76c;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background-color: #43bcb2;
} */
